<html>
	<head>
		<title>BuscaCliente</title>
		<link rel="stylesheet" type="text/css" href="css/cadastroCliente.css">
		
	</head>
	
	<body>
		<div>
			<br />
			<br />
	<form autocomplete="off" action='/red' method='GET'>	
		<h1><input type="submit" class="HOME" value="Início" name="HOME"></input></h1>
	</form>
		<h2>Busca Direta de Cliente Jurídico</h2>
        <form autocomplete="off" action='/buscaCJInter' method='POST'>
            
			<input id='cnpjClienteBuscado' name='cnpj' placeholder='CNPJ Buscado'  oninput="M_cnpj(this)"></input>
			
			<button type='submit' >Enviar</button>
		</form>
	</div>
	<script type="text/javascript" src="js/mask.js"></script>
	</body>
</html>