*{
    margin:0;
    padding:0;
}
body{
    background-image: url(AppThemes/FundoCadastros.jpg);
   
    text-align: center;
    margin:0;
    padding:0;
    background-size: cover;
}
div
{
    /*width:70%;*/

    /*background-color:rgb(109, 105, 105);*/
    /*position:relative;*/
   /* left:15%;*/

    /*height:150%;*/
    color: antiquewhite;
    font-size: 20px;
    
}

#descAgen{
 
}

#erro
{
    color:red;
    font-size: 40px;
    text-align: center;
    background-image: linear-gradient(to bottom right, rgb(56, 44, 46), rgb(58, 10, 10));
}
h2 {
    margin-bottom:30px;
    color: antiquewhite;
    text-align: center;
    font-size: 1.2cm;
    font-family: 'Times New Roman', Times, serif;
    
}
input {
    display: block;
    position:relative;
    left:28%;
    margin:20px;
    font-size:16px;
    width:40%;
    height:40px;
    padding-left:10px;
}
button{
    margin:10px;
    padding:10px;
    font-size:20px;
    border-radius: 5px;
    -webkit-transition-duration: 0.1s;
    transition-duration: 0.1s;
}

button:hover{
   
    background-color: rgb(30, 165, 30);
 }

.HOME{
    font-size: 20px;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: 90%;
    background-image: linear-gradient(to bottom right,rgb(231, 219, 219), rgb(80, 72, 72));
    width: max-content;
    border-radius: 5px;
}

.HOME:hover{
    background-image: linear-gradient(to bottom right,rgb(102, 86, 86), rgb(48, 40, 40));
    color: antiquewhite;
}

h1{
    margin-right: 83%;
    margin-top: -3.5%;
    
}
input{
   
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    text-align: left;
    border-collapse: collapse;
    border-radius: 5px;
    border-color: black;
    margin-bottom: 10px;

}