body{
    text-align: center;
    color: white;
    background-image: url(./AppThemes/WallpaperVendas.jpg);
    no-repeat center top fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

button{
    font-size: 20px;
    border-radius: 5px;
    background-image: linear-gradient(to bottom right, rgb(8, 8, 17), rgb(101, 102, 109));
    -webkit-transition-duration: 0.2s; 
    transition-duration: 0.2s;
    cursor: pointer;
    color: antiquewhite;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
}
button:hover{
    color: black;
    background-image: linear-gradient(to bottom right, rgb(122, 118, 118), rgb(161, 78, 78));
}
#adicionarcampo{
    margin-left: 44.5%;
    margin-bottom:1cm;
    padding: 7px 15px;
    font-size: 15px;   
    border-radius: 5%;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    cursor: pointer;
    background-image: linear-gradient(to bottom right, rgb(8, 8, 17), rgb(101, 102, 109));
    display: block;
    
}
#adicionarcampo:hover{
   color: white;
   background-image: linear-gradient(to bottom right, rgb(65, 41, 204), rgb(106, 109, 124));
}
#produtoadd{
    
    
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    text-align: center;
    border-collapse: collapse;
    border-radius: 5px;
    border-color: black;
    margin-bottom: 10px;
}
#qntdadd{
    inline-size: 60px; 
    
}
.remove_field{
    padding: 7px 15px;
    
    font-size: 15px;
    border-radius: 5%;
    -webkit-transition-duration: 0.2s; 
    transition-duration: 0.2s;
    cursor: pointer;
    background-image: linear-gradient(to bottom right, rgb(8, 8, 17), rgb(101, 102, 109));
    
}
.remove_field:hover{
    color: white;
    background-image: linear-gradient(to bottom right, rgb(209, 15, 15), rgb(11, 11, 17));
    
}

input{
   
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    text-align: center;
    border-collapse: collapse;
    border-radius: 5px;
    border-color: black;
    margin-bottom: 10px;
    
}

#quantidade{
    inline-size: 60px; 
}
h2{
   
}
h3{
    font-size: 40px; 
    margin-top: -3%;
}

h4{
    font-size: 18px;
}
h5{
    font-size: 25px;
}
.defDesc{
    font-size: 20px;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: 82%;
    background-image: linear-gradient(to bottom right,rgb(231, 219, 219), rgb(80, 72, 72));
    width: min-content;
}
.defDesc:hover{
    background-image: linear-gradient(to bottom right,rgb(102, 86, 86), rgb(48, 40, 40));
    color: antiquewhite;
}

.HOME{
    font-size: 20px;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: 88%;
    background-image: linear-gradient(to bottom right,rgb(231, 219, 219), rgb(80, 72, 72));
    width: min-content;
}
.HOME:hover{
    background-image: linear-gradient(to bottom right,rgb(102, 86, 86), rgb(48, 40, 40));
    color: antiquewhite;
}

.desconto{
 width: 10%;
}